BasedOnStyle: Microsoft
UseTab: Always
TabWidth: 4
IndentWidth: 4
BreakBeforeBraces: Attach

AlignConsecutiveMacros: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SortIncludes: false
CommentPragmas: '^[^ ]'

AlwaysBreakTemplateDeclarations: Yes
NamespaceIndentation: Inner
